
header {
    font-family: var(--Roboto);
}

.header-top {
    background-color: var(--lightGreen);
    padding: var(--paddingMedium) 0;
}

.header-top .university-contact a {
    margin: 0 var(--marginNormal);
}

.header-main {
    height: 95px;
    background-color: var(--white);
    border-bottom: var(--border);
}

.header-main .logo .responsive-img {
    justify-content: flex-start;
}

.header-main nav .nav-item a {
    font-size: var(--fontText);
    padding: var(--paddingNormal);
    color: var(--darkGreen);
    position: relative;
}

.header-main nav .nav-item a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--darkGreen);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.header-main nav .nav-item a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@media screen and (max-width: 1200px) {



}

/*    NOTEBOOKS, IPADS DEVICES    */

@media screen and (max-width: 992px) {



}

/*    TABLETS DEVICES    */

@media screen and (max-width: 768px) {

    header .header-top {
        display: none;
    }

    header .header-main nav {
        display: none;
    }

    header .header-main .logo .responsive-img {
        justify-content: center;
    }

}

/*    MOBILE DEVICES    */

@media screen and (max-width: 576px) {
    /*body {background: blue;}
}
